h1{color:black;text-align: center;font-size: 3.5rem;font-weight: 400;}
p{color: grey;text-align: center;font-size: 1.25rem;font-weight: 200;}
h2{color:black;text-align: center;font-size: 2.5rem;font-weight: 300}
<div class="table-responsive">
<table class="table text-conter">


